
.box {
    background-color: wheat;
}

.box1 {
    color: chocolate;
    padding: 15px;
    margin: 30px;
    border: 5px solid orange;
    height: 200px;
}

.box2 {
    color: gray;
    padding: 20px;
    margin: 25px;
    border: 5px solid gold;
    height: 200px;
    box-sizing: border-box;
}